- var projects = [{title: 'Project 1',description: 'Description 1'},{title: 'Project 2',description: 'Description 2'}]

ul
    each val in projects
        li= val.title
            p= val.description
    else
        li There are no values