- var projects = [{title: 'Project 1',description: 'Description 1'},{title: 'Project 1',description: 'Description 1'}]

- var values = ['one', 'two', 'three'];

ul
  each val in values.length ? values : ['There are no values']
    li= val